
.page{
    display:flex;
    
    gap:10px;
    height:100%;
    width: 100%;
    font-size: x-small;

    } 
h1{
        font-size: medium;
}
h3{
    font-size: small;
}
.cover {
max-width: 600px;
margin: 0 auto;
padding: 2rem;
border: 1px solid #ddd;
border-radius: 4px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
font-size: 1.5rem;
font-weight: bold;
margin-bottom: 1rem;
}

.list {
list-style: none;
padding: 0;
margin: 0;
}

.list-item {
margin-bottom: 0.5rem;
}

.highlight {
font-weight: bold;
color: #333;
}


  #chart01{
    float: right;
    padding: 10px;
  }
  .table{
   
     
    
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: small;

    margin: 1 em auto;
    width:fit-content;
    height: fit-content;
    background: rgb(75, 142, 249);
  
  }
  
  /* cash flow section */
.analysis_table{
    width: 80%;
    border:  1px solid rgb(146, 139, 239);
    height: fit-content;
    background: rgb(75, 142, 249);
    /* z-index: 1; */

}
caption{
  font-size: medium;
}
td, th {
    text-align: center; /* Align text horizontally to the center */
    vertical-align: middle; /* Align text vertically to the middle */
  }

  .left{
    height:80%;
    /* overflow:auto; */
    margin-right: 5px;
    text-align: center;
  }
  .right{
    height:80%;
    /* overflow:auto; */
    margin-left: 5px;
    text-align: center;
  }
  .middle{
    height:80%;
    /* overflow:auto; */
  
    justify-content: center;
    text-align: center;

  }
  .balance{
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: rgb(75, 142, 249);
  }

  .balance-title{
  font: italic 2px;



  }
  .balance-number{
   font: bold;
  }
  .message {
    padding: 20px;
    background-color: rgb(110, 17, 110,0.2);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* animation: pulse 2s infinite alternate; */
    height: fit-content;
    float: left;
    max-width: 10%;
    max-height: 10%;
    min-width: fit-content;
    max-height:fit-content ;
    padding: 10px;
    gap: 10px;

    margin: 1rem;
    font-weight: bold;
    animation: typing 3s steps(40, end);
    text-shadow: greenyellow;
  }
.details{
/* margin-bottom: 5px; */
gap: 10px;
text-align: center;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
margin: 1rem;
font-weight: bold;
width: 20em;
background: rgb(75, 142, 249);
}
.details h3{
  margin-bottom: 1rem;
}
.date{
margin: 1rem;
text-align: center;
padding: 20px;
background-color: rgb(110, 17, 110,0.2);
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
margin: 1rem;
font-weight: bold;
gap: 10px;
background: rgb(75, 142, 249);
}


  /*banking*/
  .B-top{
   
    top: 0;
    margin-bottom: 1rem;
    max-height: 40%;
    min-height: fit-content;
  }
  .B-top .chart-section{
  float: left;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  }
  .B-top .chart-section2{
    float: right;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
    }
.chart-section, .chart-section2, .chart-average, .chart-total{
  border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: rgb(75, 142, 249);
}


.B-bottom{
  /* position: absolute;
  bottom: 0; */
  margin-top: 1rem;
  max-height: 40%;
  min-height: fit-content;
  margin-bottom: 1rem;
  
}
  .banking-table{
    border-collapse: collapse;
    margin: 25px 1rem;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    min-height:30% ;
    width: auto;
    z-index: 1;

  }
  .banking-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.banking-table th,
.banking-table td {
    padding: 12px 5px;
    border: 1px solid #dddddd
}

.banking-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.banking-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.banking-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.banking-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}


/*for general css*/
.charts{
  position: relative;
  height: 50%;
  bottom: 0;
  background: rgb(75, 142, 249);
}

.chart{
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: rgb(75, 142, 249);
}


/*money transfers*/

.chart-total{
  float: left;
  margin: 1rem;
  height: 90%;
  background: rgb(75, 142, 249);

}
.chart-average{
float: right;
height: 90%;
margin: 1rem;
background: rgb(75, 142, 249);

}
.B-table{
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
